:root {
  --color-primary: #49a6e9;
  --color-secondary: #767a89;
  --color-body: #f1f5f8;
  --color-white: #fff;
  --color-black: #000;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  color: var(--color-body);
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 2.5rem;
  }
}
